body {
	font-family: 'Raleway', sans-serif;
	color: rgb(51,51,51);
	font-size: 1.5em;
	margin: 0 auto;
	margin-top: 120px;
	background-color: white;
}

a:link, a:visited, a:hover, a:active {
	color: rgb(122,0,0);
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

img {
    max-width: 100%;
    height: auto;
}

p {
	text-align: justify;
}

section {
	padding: 10px;
}

h2 {
	margin-bottom: 15px;
}

h4 {
	margin-top: 20px;
}

#menu-container ul {
	padding: 0;
}

.menu a:link, .menu a:visited, .menu a:hover, .menu a:active {
	color: rgb(0,0,0);
}

.menu {
	text-transform: uppercase;
	font-size: 1em;
}

.menu ul {
	list-style-type: none;
}

.logo {
	min-width: 80px;
}

#b-hamburger {
	margin-top: 20px;
}

img.flag {
	width: 40px;
	height: auto;
}

.flags {
	text-align: right;
}

.flex-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: flex-start;
}

.flex-item {
	width: 150px;
}

@media (min-width: 768px) {
	.menu li {
		display: inline-block;
		margin: 9px;
	}
}

@media (max-width: 767px) {
	.menu li {
		text-align: center;
		padding: 8px;
	}
	img.partner-logo {
		width: auto;
		height: 50px;
	}
	.logo {
		width: 80px;
	}
	body {
		margin-top: 90px;
	}
	img.flag {
		width: 25px;
	}
	.flex-item {
		width: 100px;
	}
}

.navbar-brand {
	padding: 0px;
}

.navbar-default {
	padding-top: 5px;
	padding-bottom: 15px;
	background-color: white;
	border: 0 none;
	margin-bottom: 10px;
}

.navbar-default .navbar-collapse {
	border-color: white;
}

.navbar-brand {
	padding: 0px;
}

.navbar-header {
	float: right;
}
.section-container {
	padding: 0 25px;
	border-radius: 5px;
	border: 1px solid rgba(192,126,11,1);
}

#s-slider {
	padding-left: 0;
	padding-right: 0;
}
.c-two-percent {
	border: 1px solid rgb(122,0,0);
}

.c-partners {
	background-color: white;
}

.c-footer {
	background-color: rgba(51,51,51,0.1);
	padding: 10px;
}

.text-align-right {
	text-align: right;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.row-centered {
	text-align: center;
}

.section-detail {
    display: none;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    border: 0 none;
}

a.anchor {
    display: block;
    position: relative;
    top: -100px;
    visibility: hidden;
}

img.partner-logo {
	margin-bottom: 10px;
	margin-right: 10px;
}

img.program-logo {
	float: left;
	margin: 5px 10px 10px 0;
	border: 1px solid rgba(51,51,51,0.1);
}

img.lightbox-img {
	margin: 5px;
	border: 1px solid rgba(51,51,51,0.1);
}
.margin-bottom {
	margin-bottom: 10px;
}

.margin-top {
	margin-top: 20px;
}

li.sub {
	list-style-type: none;
}
